.NormalButton {
  font-size: 150%;
  box-sizing: border-box;
  padding: 0.2em 1em 0.2em 1em;
  background-color: rgba(240, 242, 245, 0.6);
  margin: 0 0.4em 0 0;
  color: #000000;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.NormalButton:hover {
  border-bottom: 2px solid #000000;
  color: #000000;
  font-weight: bold;
  background-color: rgba(240, 242, 245, 0.8);
}

.NormalButtonChecked {
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #000000;
  color: #000000;
  font-weight: bold;
}
