.backButton{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: rgba(240, 242, 245, 0.8);
  border-radius: 4px;
  cursor: pointer;
}

.backButton:hover{
  background: rgba(220, 225, 230, 1);
}

.about{
  padding: 10px 0 0 0;
}

.icon{
  display: inline-flex;
}

.title{
  color: #000000;
  font-size: 200%;
  padding: 0.15em 0.5em 0.15em 0.1em;
  font-weight: bold;
  margin-top: 20px;
}

.text{
  color: #000000;
  padding: 0 0 0 10px;
  font-size: 135%;
  a{
    color: #000000;
  }
}

.contributor{
  padding: 0 10px 0 0;
}
