.handboxButton {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 10;
  display: inline-block;
}

.handboxIcon {
  width: auto;
  height: auto;
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.5));
  transition: transform 0.3s ease;
}

.handboxButton:hover .handboxIcon {
  transform: scale(0.9);
}

