.gearButton {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 10;
    display: inline-block;
    scale: 0.9;
}

.gearIcon {
    width: auto;
    height: auto;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.5));
    transition: transform 0.3s ease;
}

.gearButton:hover .gearIcon {
    transform: scale(0.8);
}