.Choose_Main {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  z-index: 13;
  background: rgba(0, 0, 0, 0.05);
}

.Choose_item {
  font-family: "WebgalUI", serif;
  cursor: pointer;
  min-width: 50%;
  padding: 2em 1em;
  font-size: 265%;
  color: #8E354A; // 默认颜色
  text-align: center;
  border: none;
  box-shadow: none;
  background: transparent;
  margin: 0.5em 0;
  transition: color 0.3s ease; // 添加文字颜色过渡效果
  position: relative;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.Choose_item_disabled {
  font-family: "WebgalUI", serif;
  cursor: not-allowed;
  min-width: 50%;
  padding: 2em 1em;
  font-size: 265%;
  color: rgba(142, 53, 74, 0.5);
  text-align: center;
  border: none;
  box-shadow: none;
  background: transparent;
  margin: 0.5em 0;
  transition: color 0.3s ease; // 添加文字颜色过渡效果
  position: relative;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.Choose_item_outer {
  color: #000;
  min-width: 50%;
}
