.MainStage_main {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    //animation: MainStage_showBgSoftly 100ms forwards;
    opacity: 1;
    overflow: hidden;
}

.MainStage_main_container {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.MainStage_bgContainer {
    top: 0;
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    animation: MainStage_showBgSoftly 1s forwards ease-in-out;
}

.MainStage_bgContainer_Settled {
    top: 0;
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    animation: MainStage_showBgSoftly 1ms forwards;
    z-index: 1;
}

.MainStage_oldBgContainer {
    background-size: cover;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    animation: MainStage_oldBgFadeout 3s forwards;
}

.MainStage_oldBgContainer_Settled {
    background-size: cover;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

@keyframes MainStage_showBgSoftly {
    0% {
        opacity: 0.15;
    }
    100% {
        opacity: 1;
    }
}

@keyframes MainStage_oldBgFadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.pixiContainer {
    position: absolute;
    z-index: 5;
}

.itemContainer {
    position: absolute;
    z-index: 13;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.itemContainer canvas {
    pointer-events: none;
}

.chooseContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
    pointer-events: none;
}

.thinkingContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
    pointer-events: none;
}

.refuteContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20; // Above all
    pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  //animation: MainStage_showBgSoftly 100ms forwards;
  opacity: 1;
  overflow: hidden;
}

.MainStage_main_container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.MainStage_bgContainer {
  top: 0;
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
  animation: MainStage_showBgSoftly 1s forwards ease-in-out;
}

.MainStage_bgContainer_Settled {
  top: 0;
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
  animation: MainStage_showBgSoftly 1ms forwards;
  z-index: 1;
}

.MainStage_oldBgContainer {
  background-size: cover;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  animation: MainStage_oldBgFadeout 3s forwards;
}

.MainStage_oldBgContainer_Settled {
  background-size: cover;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

@keyframes MainStage_showBgSoftly {
  0% {
    opacity: 0.15;
  }
  100% {
    opacity: 1;
  }
}

@keyframes MainStage_oldBgFadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.pixiContainer{
  position: absolute;
  z-index: 5;
}

.chooseContainer{
  z-index: 8;
}
