@charset "UTF-8";
.main {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  /* 减少高度 */
  border-radius: 25px;
  /* 减少圆角 */
  padding: 0.15em 1em 0.15em 1em;
  /* 减少内边距 */
  font-size: 80%;
}

.topLeftButton {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 9;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  /* 减少高度 */
  border-radius: 25px;
  /* 减少圆角 */
  padding: 0.15em 1em 0.15em 1em;
  /* 减少内边距 */
  font-size: 80%;
}

.topRightButton {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 9;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  /* 减少高度 */
  border-radius: 25px;
  /* 减少圆角 */
  padding: 0.15em 1em 0.15em 1em;
  /* 减少内边距 */
  font-size: 80%;
}

.button {
  position: relative;
  top: 2px;
  padding: 0 0 0 0;
  filter: drop-shadow(1px 1px 5px black);
}

.buttonIcon {
  position: relative;
  top: 2px;
  width: 24px;
  height: 24px;
  filter: drop-shadow(1px 1px 5px black);
}

.button_text {
  position: relative;
  bottom: 8px;
  color: white;
  text-shadow: 1px 1px 5px black;
  padding-left: 3px;
}

.button_on {
  height: 100%;
  display: inline-block;
  font-size: 150%;
  padding: 0.25em 0.3em 0 0.15em;
  transition: background-color 0.5s;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin: 0 0.1em 0 0.1em;
}

.singleButton {
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 150%;
  padding: 0.3em 0.4em;
  /* 减少内边距，因为只有图标 */
  transition: background-color 0.5s;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 0.05em;
  /* 减少按钮间距 */
  position: relative;
  min-width: 40px;
  /* 固定最小宽度 */
}

.singleButton:hover,
.singleButton_active {
  background-color: rgba(255, 255, 255, 0.3);
}

.fastSlPreview {
  position: absolute;
  top: -250px;
  right: 0;
  background: linear-gradient(315deg, rgba(253, 251, 251, 0.9) 0%, rgba(235, 237, 238, 0.85) 100%);
  width: 900px;
  height: 230px;
  color: #005caf;
  border-radius: 5px;
  display: none;
  animation: fastSlEnter 0.33s;
  transition: opacity 0.33s;
}

.fastsave:hover .fastSPreview {
  display: block;
}

.fastload:hover .fastLPreview {
  display: block;
}

@keyframes fastSlEnter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slPreviewMain {
  padding: 0.5em 0.5em 0.5em 0.5em;
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.imgContainer {
  display: flex;
  overflow: hidden;
  border-radius: 5px;
  flex-shrink: 0;
  height: 100%;
}

.textContainer {
  overflow: hidden;
  padding: 0 0 0 0.5em;
}
