.Menu_main {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 16;
  animation: Menu_ShowSoftly 0.5s forwards;

  background: rgba(255, 255, 255, 0.95); // 亮色半透明背景
  -webkit-backdrop-filter: blur(6px);     // 添加模糊（Safari兼容）
  backdrop-filter: blur(6px);     // 添加模糊
  box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.05); // 内部柔和阴影
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.Menu_TagContent {
  width: 100%;
  height: 90%;

  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 24px;
  background: rgba(255, 255, 255, 0.8); // 内部白色背板
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

@keyframes Menu_ShowSoftly {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
