@charset "UTF-8";
.TextBox_EventHandler {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 6;
    top: 0;
}

.TextBox_Container {
    position: absolute;
    z-index: 6;
    bottom: 0;
    width: 100%;
    animation: showSoftly 0.7s ease-out forwards;
}

.TextBox_main {
    z-index: 3;
    position: absolute;
    right: 25px;
    min-height: 330px;
    max-height: 330px;
    background-blend-mode: darken;
    border-radius: calc($height / 2) 20px 20px calc($height / 2);
    bottom: 20px;
    left: 275px;
    font-weight: bold;
    color: white;
    padding: 1em 50px 70px 200px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    letter-spacing: 0.2em;
    transition: left 0.33s;
}

.TextBox_main_miniavatarOff {
    left: 25px;
}

.TextBox_Background {
    z-index: 2;
    background: linear-gradient(#f5f7fa 0%, #bdc6de 100%);
}

@keyframes showSoftly {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.TextBox_textElement_start {
    position: relative;
    animation: TextDelayShow 1000ms ease-out forwards;
    opacity: 0;
    display: inline-flex;
    align-content: space-between;
}

.outer {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    background-image: linear-gradient(#0B346E 0%, #141423 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    z-index: 2;
    display: inline-block;
    /* 与文本对齐 */
    vertical-align: middle;
    /* 确保注音整体的垂直居中 */
}

.inner {
    white-space: nowrap;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-text-stroke: 0.1em white;
    z-index: 1;
    display: inline-block;
    /* 内层元素同样行内块布局 */
    vertical-align: middle;
    /* 确保与外层的对齐一致 */
}

.zhanwei {
    color: transparent;
    white-space: nowrap;
    display: inline-block;
    /* 保持行内块布局 */
    vertical-align: baseline;
    /* 确保文本基线对齐 */
    position: relative;
    /* 保持相对定位 */
}

.TextBox_textElement_Settled {
    position: relative;
    opacity: 1;
    display: inline-flex;
    align-content: space-between;
}

.TextBox_showName {
    font-size: 85%;
    position: absolute !important;
    padding: 0 2em 0 2em;
    text-align: left;
    height: 80px;
    line-height: 68px;
    border-radius: 40px;
    z-index: 3;
    border: 4px solid rgba(255, 255, 255, 0);
}

.TextBox_showName {
    font-size: 85%;
    padding: 0 2em;
    position: absolute;
    top: -68px;
    left: 4000px;
    transform: none;
    height: 80px;
    line-height: 68px;
    z-index: 3;
    text-align: center;
    border-radius: 0px 0px 0px 0px;
    border-bottom: 3px solid #0a3a75;
    /* 深蓝色下划线 */
    background: none;
    font-weight: bold;
    color: white;
    letter-spacing: 0.1em;
}

.TextBox_ShowName_Background {
    z-index: 2;
    background: #0b346e;
    border: 4px solid rgba(255, 255, 255, 0.75);
    box-shadow: 3px 3px 10px rgba(100, 100, 100, 0.5);
}

@keyframes TextDelayShow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.miniAvatarContainer {
    position: absolute;
    height: 450px;
    width: 450px;
    bottom: 0;
    left: -250px;
    border-radius: 100% 0 0 100%;
    overflow: hidden;
}

.miniAvatarImg {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    filter: drop-shadow(15px 0 3px rgba(0, 0, 0, 0.5));
}

.nameContainer {
    position: absolute;
    left: 2em;
    top: -3.5em;
}

.outerName {
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(150deg, white 0%, white 35%, #a5d4e4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    z-index: 2;
}

.innerName {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.text {
    overflow: hidden;
    position: absolute;
    text-align: left;
    left: 0;
    top: 0;
    bottom: 50px;
}